        <!-- Start: Page Banner -->
<section class="page-banner services-banner">
    <div class="container">
        <div class="banner-header">
            <h2>Liên hệ với chúng tôi</h2>
            <span class="underline center"></span>
            <p class="lead">Đánh giá và gửi phản hồi ở trang này cho chúng tôi</p>
        </div>
        <div class="breadcrumb">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                <li>Liên hệ</li>
            </ul>
        </div>
    </div>
</section>

<!-- End: Page Banner -->
<!-- Start: Contact Us Section -->
<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="contact-main">
                <div class="contact-us">
                    <div class="container">
                        <div class="contact-location">
                            <div class="flipcard">
                                <div class="front">
                                    <div class="top-info">
                                        <span><i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ trụ sở</span>
                                    </div>
                                    <div class="bottom-info">
                                        <span class="top-arrow"></span>
                                        <ul>
                                            <li>182 Lê Duẩn, Vinh </li>
                                            <li>Nghệ An</li> 
                                        </ul>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="bottom-info orange-bg">
                                        <span class="bottom-arrow"></span>
                                        <ul>
                                            <li>182 Lê Duẩn, Vinh </li>
                                            <li>Nghệ An</li>
                                        </ul>
                                    </div>
                                    <div class="top-info dark-bg">
                                        <span><i class="fa fa-map-marker" aria-hidden="true"></i>Địa chỉ trụ sở</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flipcard">
                                <div class="front">
                                    <div class="top-info">
                                        <span><i class="fa fa-fax" aria-hidden="true"></i>Điện thoại</span>
                                    </div>
                                    <div class="bottom-info">
                                        <span class="top-arrow"></span>
                                        <ul>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="bottom-info orange-bg">
                                        <span class="bottom-arrow"></span>
                                        <ul>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                            <li><a href="tel:+123-456-7890">Local: +123-456-7890</a></li>
                                           
                                        </ul>
                                    </div>
                                    <div class="top-info dark-bg">
                                        <span><i class="fa fa-fax" aria-hidden="true"></i>Điện thoại</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flipcard">
                                <div class="front">
                                    <div class="top-info">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i>Địa chỉ mail</span>
                                    </div>
                                    <div class="bottom-info">
                                        <span class="top-arrow"></span>
                                        <ul>
                                            <li>Nhom8website.libraria.com</li>
                                            <li>support@libraria.com</li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <div class="back">
                                    <div class="bottom-info orange-bg">
                                        <span class="bottom-arrow"></span>
                                        <ul>
                                            <li>Nhom8website.libraria.com</li>
                                            <li>support@libraria.com</li>
                                        </ul>
                                    </div>
                                    <div class="top-info dark-bg">
                                        <span><i class="fa fa-envelope" aria-hidden="true"></i>Địa chỉ mail</span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="contact-area">
                                <div class="container">
                                    <div class="col-md-5 col-md-offset-1 border-gray-left">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="contact-map bg-light margin-left">
                                                    <div class="company-map" id="map">
                                                        <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3779.40015059075!2d105.65894107482313!3d18.690894982436085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTjCsDQxJzI3LjIiTiAxMDXCsDM5JzQxLjUiRQ!5e0!3m2!1svi!2s!4v1747413206057!5m2!1svi!2s" width="580" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                                                        </iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 border-gray-right">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="contact-form bg-light margin-right">
                                                    <h2 style="font-family: 'Times New Roman', Times, serif;">Gửi cho chúng tôi phản hồi của bạn</h2>
                                                    <span class="underline left"></span>
                                                    <div class="contact-fields">
                                                        @model DOAN.ViewModel.ContactVM
                                                        @if (TempData["Success"] != null)
                                                        {
                                                            <div class="alert alert-success">@TempData["Success"]</div>
                                                        }
                                                        @if (TempData["Error"] != null)
                                                        {
                                                            <div class="alert alert-danger">@TempData["Error"]</div>
                                                        }
                                                        @using (Html.BeginForm("Send", "Contact", FormMethod.Post, new { @class = "contact-form", @id = "contact" }))
                                                        {
                                                            @Html.AntiForgeryToken()
                                                            <div class="row">
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Nhập tên" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Nhập họ" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-6">
                                                                    <div class="form-group">
                                                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Số điện thoại" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group">
                                                                        @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Nhập phản hồi" })
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-12">
                                                                    <div class="form-group form-submit">
                                                                        <input class="btn btn-default" type="submit" value="Gửi phản hồi" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }


                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>